// body stylling
body {
    margin-left: 60px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -1;
    color: #fff;
    background-color: #000;
}

section {
  display: inline;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 80px;
  border-bottom: 15px;
}

li {
  display: inline;
  letter-spacing: 0.5px;
  line-height: 20px;
}

//section styles

.top-header {
  align-items: baseline;
  font-size: 32px;
  margin-bottom: inherit;
}

.center-column{
  font-size: 32px;
  text-align: right;
  margin-top: 10px;
  float: right;
  letter-spacing: 2px;
}

.column-left {
  margin-top: 10px;
  width: 10%;
  line-height: 10px;
}

.column-main {
  width: 90%;
}

.column-main-container-large {
  padding-right: 10%;
  border: none;
}

.column-right-main {
  float: right;
  margin-right: 35px;
  display: inline;
  font-size: 32px;

}

.footer {
  margin-bottom: 40px;
  color: #606060;
  text-align: left;
  float: left;
}

.light-text {
  color: #606060;
    text-decoration: none;
}

.telephone {
  color: #606060;
    text-decoration: none;
}

.light-text.h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
  color: #808080;
}

// text styles
h1 {
  font-size: 72px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7c7c7c;
  transform: translateY(7px);
}

h3 {
  font-size: 18px;
  font-weight: 400;
  padding-right: 20px;
  display: inline;
}
