%section.footer
  .column-left
  %ul.foot
    %li Contact:
    %li.telephone (+46) 72-205 64 95,
    %li
      %a.light-text{ href: "mailto:Aiden.jubelin@gmail.com", title: "Contact" } Aiden.jubelin@gmail.com

    .column-main
      %h3.light-text KiddPlaygrounds. All Right Reserved. 2018
