%section.header
  .column-left
    %h2 KP 2018
  .column-main
    %h3.top-header Aiden Kidd Jubelin Portfolio
    .column-right-main
      %a.light-text{ :href => "index.html" } Home, 
      %a.light-text{ :href => "cv.html" } CV
