%section.header
  .column-left
    %h2 KP 2018
  .column-main
    %h3.top-header Aiden Kidd Jubelin Portfolio
    .nav
      %png= link_to image_tag('images/linkedin.png'), 'https://www.linkedin.com/in/aiden-jubelin/', target: "_blank"
      %png= link_to image_tag('images/github.png'), 'https://github.com/AKidd95', target: "_blank" 
      %a.lighter-text{ href: "cv.html" } CV
      %a.lighter-text{ href: "index.html" } Home 
        