%section.header
  .column-left
    %h2 AKJ
  .column-main
    %h3.top-header Aiden Kidd Jubelin Portfolio
    .column-right-main
      %ul
        %li Contact
        %li.telephone (+46) 72-205 64 95
        %li
          %a{ href: "mailto:Aiden.jubelin@gmail.com", title: "Contact"} Aiden.jubelin@gmail.com
