%section.header
  .column-left
    %h2 KP 2018
  .column-main
    %h3.top-header Aiden Kidd Jubelin Portfolio
    .column-right-main
      %ul
        %li Contact:
        %li.telephone (+46) 72-205 64 95,
        %li
          %a.light-text{ href: "mailto:Aiden.jubelin@gmail.com", title: "Contact"} Aiden.jubelin@gmail.com
