%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section
    .column-left
      %h2 word
    .column-main
      .column-main-container-large
        %h1 some other random shit to see where all my stuff is
  %section.about
    .column-left
      %h2 about
    .column-main
      .column-main-container-small
        %h3 Im some dude who you haven't heard of... Until now.
