%head

%body
  %section.header
    .column-left
      %h2 Aiden J
    .column-main
      %h3.top-header is the greatest
      .column-right-main
        %h3 contact
        .telephone (+46) 72-205 64 95
        %a{ href: "mailto:Aiden.jubelin@gmail.com", title: "Contact"} Contact
  %section
    .column-left
    .column-main
      .column-main-container-large
        %h1
  %section.about
    .column-left
    .column-main
      .column-main-container-small
        %h3
  %section.footer
    .column-left
    .column-main
      %h3.light-text KiddPlaygrounds. All Right Reserved. 2018
