%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section.header
    .column-left
      %h2 AKJ
    .column-main
      %h3.top-header Aiden Kidd Jubelin Portfolio
      .column-right-main
        %h3 contact
        .telephone (+46) 72-205 64 95
        %a{ href: "mailto:Aiden.jubelin@gmail.com", title: "Contact"} Contact
  %section
    .column-left
      %h2 word
    .column-main
      .column-main-container-large
        %h1 some other random shit to see where all my stuff is
  %section.about
    .column-left
      %h2 about
    .column-main
      .column-main-container-small
        %h3 Im some dude who you haven't heard of... Until now.
  %section.footer
    .column-left
      %h2
        .projects
        - data.projects.each do |project|
          %h4= project[:name]
          %p= project[:description]
    .column-main
      %h3.light-text
