%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section
    .column-left
      %h2 Focus
    .column-main
      .column-main-container-large
        %h1 I deliver quality web based applications and code. While still new to programming, I aim to write solid and readable code for all users.
    .column-left
      %h2 Projects
    .column-main
      .column-main-container-large
        %h1 Recently completed projects include
        %a.light-text.h1{ href: "https://github.com/AKidd95/ATM_demo", title: "ATM", :target => "_blank" } ATM ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/paps", title: "News Agency", :target => "_blank"} News Agency ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/paps_mobile", title: "Mobile News", :target => "_blank"} News Agency mobile ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/BMI_Challenge", title: "BMI calculator", :target => "_blank" } BMI calculator.
    .column-left
      %h2 Languages
    .column-main
      .column-main-container-large
        %h1 Ruby, Javascript, Html, CSS.
    .column-left
      %h2 Services
    .column-main
      .column-main-container-large
        %h1 Front and Back end development, Providing simple solutions to medium sized problems.
