%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin, Web Developer, Agile, Ruby, Ruby on Rails, Middleman, Static site"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section
    .column-left
      %h2 About
    .column-main
      .column-main-container-large 
        - data.about.each do |read|
          %h1= read[:description]
    .column-left
      %h2 Focus
    .column-main
      .column-main-container-large 
        - data.about.each do |about|
          %h1= about[:focus]
    .column-left
      %h2 Projects
    .column-main
      .column-main-container-large
        %h1 Interesting projects I have worked on include
        %a.light-text.h1{ href: "https://github.com/AKidd95/ATM_demo", title: "ruby & js challenge", :target => "_blank" } ATM ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/languaship_mobile", title: "Mobile frontend", :target => "_blank"} Mobile Language Matcher ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/languaship_backend", title: "backend", :target => "_blank"} Language Matcher Backend ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/BMI_Challenge", title: "ruby challenge", :target => "_blank" } BMI Calculator.
    .column-left
      %h2 Interests
    .column-main
      .column-main-container-large.interest
        -data.interests.each do |enjoy|
          %h1= enjoy[:description]
