%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section
    .column-left
      %h2 Focus
    .column-main
      .column-main-container-large
      - data.about.each do |about|
        %p= about[:read]
        %p= about[:description]
    .column-left
      %h2 Projects
    .column-main
      .column-main-container-large
        %h1 Recently completed projects include
        %a.light-text.h1{ href: "https://github.com/AKidd95/ATM_demo", title: "ATM", :target => "_blank" } ATM ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/fizz_buzz", title: "Fizz Buzz", :target => "_blank"} Fizz Buzz ,
        %a.light-text.h1{ href: "https://github.com/AKidd95/BMI_Challenge", title: "BMI calculator", :target => "_blank" } BMI calculator.
    .column-left
      %h2 Languages
    .column-main
      .column-main-container-large
        %h1 Ruby, Javascript, Html, CSS.
    .column-left
      %h2 Services
    .column-main
      .column-main-container-large
        %h1 Front and Back end development, Providing simple solutions to medium sized problems.
