%head
  %meta{ :charset => "utf-8" }
  %meta{ :title => "Aiden J, Portfolio" }
  %meta{ :name => "keywords", :keywords => "Coding, Full Stack, Aiden Jubelin"}
  %link{ :rel => "stylesheet", :href => "stylesheets/site.css.scss" }
  %link{ :rel => "stylesheet", :href => "css/bootstrap.min.css" }

%body
  %section
    .column-left
      %h2 Focus
    .column-main
      .column-main-container-large
        %h1 I deliver quality web based applications and code. While still new to programming, I aim to write solid and readable code for all users.
    .column-left
      %h2 Recent
    .column-main
      .column-main-container-large
        %h1 Recently completed projects include ATM, Fizz Buzz, and BMI calculator.
        %a.ATM{ href: "https://github.com/AKidd95/ATM_demo", title: "ATM" }
    .column-left
      %h2 Languages
    .column-main
      .column-main-container-large
        %h1 Ruby, Javascript, Html, CSS. Rails, Haml, and SCSS.
    .column-left
      %h2 Services
    .column-main
      .column-main-container-large
        %h1 Front and Back end development, Providing simple solutions, being a good guy.
